$main-width: 50rem;
$toc-width: 15rem;
$phone-width-threshold: 30rem;

* {
    --line-color: #ebedef;
    --shaded: #f8f8f8;
    --inactive-color: #808e90;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

html {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin-bottom: 4rem;
    color: #4a4a4a;
    line-height: 1.5;
}

article {
    font-weight: 400;
}

article {
    max-width: $main-width;
    padding: 0 0.3rem;
}

.main-column {
    padding: 0 0.4rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

header, footer {
    padding: 0.3rem 0;
    font-size: 1.5rem;
}

header {
    height: 3rem;
}

footer {
    height: 2.8rem;
}

header {
    border-bottom: 1px solid var(--line-color);
    margin-bottom: 1rem;
}

header a, .footnote-reference a, h1 a {
    text-decoration: none;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid var(--line-color);
    margin-top: 1rem;
}

.main-column, .main-column a {
    display: flex;
    align-items: center;
    color: inherit;
}

.social-links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.social-links a {
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
}

#icon {
    height: 2rem;
    border-radius: 4px;
    margin: auto 0.5rem auto 0.1rem;
}

.series-info {
    background: var(--shaded);
    padding: 1.2rem;
}

.article-preview {
    background: var(--shaded);
    padding: 1.2rem;
    position: relative;
    padding-bottom: 3.4rem;
    margin-bottom: 1rem;

    .title {
        font-size: 1.6rem;
        a {
            color: inherit;
        }
    }

    .page-metadata {
        font-size: 1rem;
    }

    .read-more {
        position: absolute;
        right: 1em;
        bottom: 1em;
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;

    td, th {
        padding: 6px 13px;
        border: 1px solid var(--line-color);
    }

    tr:nth-child(2n) {
        background: var(--shaded);
    }
}

#previous-article, #next-article {
    background: var(--shaded);
    padding: 1rem;
    display: block;
    margin: 0.5rem;
}

#previous-article {
    float: left;
    margin-left: 0;
}

#next-article {
    float: right;
    margin-right: 0;
}

pre {
    padding: 0.7rem;
    margin: 1rem 0;
    background-color: #272822;
    color: #c9d1d9;
    white-space: pre-wrap;
}

pre b, pre .ansi1 {
    color: #f8f8f8;
    font-weight: bold;
}

ul, ol {
    list-style-position: outside;
    margin-left: 2rem;
}

ul {
    list-style-type: disc;
}

.page-metadata {
    color: #666;
    font-size: 1.2rem;
}

h2, h3 {
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

blockquote {
    border-left: .25em solid #dfe2e5;
    padding: 0 1em;
}

p, blockquote, ol, ul, table, details, .series-info {
    margin-bottom: 1rem;
}

a {
    color: #3273dc;
}

hr {
    background-color: var(--line-color);
    height: 2px;
    border: none;
    display: block;
    margin: 1.5rem 0;
}

pre code {
    background: none !important;
    padding: 0;
    white-space: inherit;
}


.ansi33 { color: #f1fa8c !important; }
.ansi38-9 { color: #ff5555 !important; }
.ansi38-12 { color: #bd93f9 !important; }

pre, pre code {
    font-size: .85rem;
}

code {
    padding: .2em .4em;
    border-radius: 6px;
    background-color: rgba(27,31,35,0.05);
    white-space: nowrap;
    font-size: .85em;
}

.title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.125;
}

nav {
    background: var(--shaded);
    padding: 1rem;
    position: sticky;
    top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-height: calc(100vh - 2rem);
    min-width: $toc-width;
    overflow-y: auto;

    ul {
        margin-bottom: 0;
        margin-left: 1rem;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: var(--inactive-color);
    }

    a:hover, li.active > a {
        color: inherit;
    }

    li.active > a {
        font-weight: bold;
    }
}

@media(max-width: 68rem) {
    nav {
        display: none;
    }

    main {
        display: block;
    }

    article {
        margin: 0 auto;
    }
}

.footnote-definition-label {
    float: left;
    padding-right: 0.5rem;
}

.footnote-definition {
    font-size: 0.9rem;
}

.footnote-backlink {
    margin-left: 0.3rem;
}

.inset, article img:not([src*=".svg"]) {
    margin: 0 3rem;
    max-width: calc(100% - 6rem);

    @media (max-width: $phone-width-threshold) {
        margin: 0 1rem;
        max-width: calc(100% - 2rem);
    }
}

article img[src*=".svg"] {
    margin: 0 2rem;

    @media (max-width: $phone-width-threshold) {
        margin: 0 1rem;
    }
}

details > :not(summary) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.button {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    * {
        --line-color: #21262d;
        --shaded: #222;
    }

    html {
        background-color: #111;
    }

    body {
        color: #c9d1d9;
    }

    blockquote {
        border-left: .25em solid #3b434b;
    }

    .page-metadata {
        color: #b3b3b3;
    }

    a {
        color: #58a6ff;
    }

    code {
        background-color: rgba(240,246,252,0.15);
    }

    .button {
        background-color: #363636;
        color: #d9e1e9;
        border-color: transparent;
    }

    img[src*="svg"] {
        filter: invert(83.6%) hue-rotate(180deg);
    }
}

// borrowed from poligon
.action {
    display: inline-block;
    width: auto;
    line-height: 1.6rem;
    padding: 0.2rem 0.4rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.action.download {
    border-left-color: #f0ad4e;
}

.action.download .badge {
    color: #fff;
    background-color: #f0ad4e;
}

.action.web {
    border-left-color: #5FD847;
}

.action.command {
    font-family: monospace;
    border-left-color: #86BA4A;
}

.action span.name {
    font-family: monospace;
    padding-right: 0.4rem;
}

a:hover .action {
    text-decoration: none;
}

a:hover .action span.name {
    text-decoration: underline;
    color: #297590;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.task-description {
    border-color: #3ea3c8;
    padding-top: .75rem;
    margin-top: -.75rem;
}

.tag-category {
    color: #fff;
    text-shadow:
    -1px -1px 0px #000,
     0px -1px 0px #000,
     1px -1px 0px #000,
    -1px  0px 0px #000,
     1px  0px 0px #000,
    -1px  1px 0px #000,
     0px  1px 0px #000,
     1px  1px 0px #000;
}

.badge.category-re { background-color: #61AFE8; }
.badge.category-web { background-color: #5FD847; }
.badge.category-crypto { background-color: #E54487; }
.badge.category-pwn { background-color: #86BA4A; }
.badge.category-sandbox { background-color: #32BA4A; }
.badge.category-stegano { background-color: #FFC107; }
.badge.category-forensics { background-color: #000000; }
.badge.category-misc { background-color: #882D60; }
.badge.category-warmup { background-color: #690bed; }
