<div id="get-notified">
    <h1>Hope you enjoyed this!</h1>
    <p>You might like some of <a href="/#blog">my other posts</a>, too. If you'd like to be notified
    of new ones, you can <a href="https://donotsta.re/mei">follow me on the Fediverse</a>
    or subscribe to the <a href="/rss.xml">RSS feed</a>.</p>
    <p>Also, I'd like to thank
    <a href="https://github.com/sponsors/meithecatte">my GitHub sponsors</a> for their support:
    Michalina Sidor, Tijn Kersjes, LunNova and Anders Murphy.
    </p>
</div>
