<!DOCTYPE html>
<html lang="en">
    {% if page.title %}
        {% set title = page.title %}
    {% elif section.title %}
        {% set title = section.title %}
    {% else %}
        {% set title = config.title %}
    {% endif %}
    {% if page.permalink %}
        {% set canonical_url = page.permalink %}
    {% else %}
        {% set canonical_url = section.permalink %}
    {% endif %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ get_url(path="/style.css") }}?2"/>
        <link rel="icon" href="{{ get_url(path="/icon.png") }}"/>
        <link rel="canonical" href="{{ canonical_url }}"/>
        <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="/rss.xml">
        {% block meta %} {% endblock %}
        <meta property="og:title" content="{{ title }}">
        {% if page.summary %}
            <meta property="og:description" content="{{ page.summary | striptags }}">
        {% elif section.description %}
            <meta property="og:description" content="{{ section.description | striptags }}">
        {% endif %}
        <meta property="og:url" content="{{ canonical_url }}">
        <meta property="og:image" content="{{ get_url(path="/icon.png") }}">
    </head>
    <body class="theme-default">
        <header>
            <div class="main-column">
                <a href="/">
                    <img id="icon" src="/icon.png">
                    <span class="head-backdrop">Compiler crimes</span>
                </a>
            </div>
        </header>
        <main>
            <article>
                {% block content %} {% endblock %}

                <center>
                    <p>
                        Twitter: <a href="https://twitter.com/meithecatte">@meithecatte</a>
                        &bull;
                        GitHub: <a href="https://github.com/meithecatte">@meithecatte</a>
                        &bull;
                        E-mail: catch-all on this domain
                    </p>

                    <a href="https://diyhrt.wiki">
                        <img src="/e2.gif" width="88" height="31" />
                    </a>
                </center>
            </article>
            {% block toc %} {% endblock %}
        </main>
    </body>
    <script type="text/javascript" src="/enhance.js" async></script>
    <script data-goatcounter="https://niedzejkob.goatcounter.com/count" async src="{{ get_url(path="/count.js") }}"></script>
</html>
