{% macro cachebust(path) %}
{{ get_url(path=path) }}?{{ get_hash(path=path, sha_type=256) }}
{% endmacro cachebust %}

{% macro post_metadata(page) %}
<p class="page-metadata">
{{ page.date | date(format="%B %e, %Y") }}
&middot; {{ page.reading_time }} minute read
</p>
{% endmacro post_metadata %}

{% macro series_metadata(section) %}
<p class="page-metadata">
A series of {{ section.pages | length }} articles
</p>
{% endmacro %}

{% macro article_list(articles) %}
  {% for page in articles %}
  <div class="article-preview">
  <h1 class="title"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
  {{ macros::post_metadata(page=page) }}
  {{ page.summary | safe }}
  <a class="read-more button" href="{{ page.permalink }}#continue-reading">Read more</a>
  </div>
  {% endfor %}
{% endmacro %}

{% macro series_list(series) %}
  {% for ser in series %}
  {% set section = get_section(path=ser, metadata_only=false) %}
  <div class="article-preview">
  <h1 class="title"><a href="{{ section.permalink }}">{{ section.title }}</a></h1>
  {{ macros::series_metadata(section=section) }}
  {{ section.description | markdown | safe }}
  <a class="read-more button" href="{{ section.permalink }}">Go to series overview</a>
  </div>
  {% endfor %}
{% endmacro %}

{% macro part_of_series(series) %}
<div class="series-info">
  This article is part of the <a href="{{ series.permalink }}">{{ series.title }}</a>
  {% if series.extra.brief %}
    series, {{ series.extra.brief }}
  {% else %}
    series.
  {% endif %}
  {{ macros::series_nav(page=page) }}
</div>
{% endmacro %}

{% macro series_nav(page) %}
<div class="previous-next">
{% if page.earlier %}
<div class="previous-article">
    Previous post:<br>
    <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
</div>
{% endif %}

{% if page.later %}
<div class="next-article">
    Next post:<br>
    <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
</div>
{% endif %}

<div style="clear: both;"></div>
</div>
{% endmacro %}
