{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block meta %}
<meta property="og:type" content="article">
{% endblock meta %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
{{ macros::post_metadata(page=page) }}
{% if page.ancestors[1] %}
{{ macros::part_of_series(series=get_section(path=page.ancestors[1])) }}
{% endif %}


{{ page.content | safe }}

<div id="previous-next">
{% if page.earlier %}
<div id="previous-article">
    Previous post:<br>
    <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
</div>
{% endif %}

{% if page.later %}
<div id="next-article">
    Next post:<br>
    <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
</div>
{% endif %}

<div style="clear: both;"></div>
</div>

<noscript>
    This is where the comments would load if you enabled JavaScript.
</noscript>
<script src="https://utteranc.es/client.js"
        repo="NieDzejkob/niedzejkob.p4.team"
        issue-term="pathname"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
{% endblock content %}

{% block toc %}
{% if page.toc %}
<nav>
    <h4>Table of contents</h4>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink }}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                    <li>
                        <a href="{{ h2.permalink }}">{{ h2.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
{% endblock %}
