{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block meta %}
<meta property="og:type" content="website">
{% endblock meta %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
{{ macros::post_metadata(page=page) }}
{{ page.content | safe }}

<div id="previous-next">
{% if page.earlier %}
<div id="previous-article">
    Previous post:<br>
    <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
</div>
{% endif %}

{% if page.later %}
<div id="next-article">
    Next post:<br>
    <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
</div>
{% endif %}

<div style="clear: both;"></div>
</div>

<script src="https://utteranc.es/client.js"
        repo="NieDzejkob/niedzejkob.p4.team"
        issue-term="pathname"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
{% endblock content %}
