{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block meta %}
<meta property="og:type" content="article">
{% endblock meta %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
{{ macros::post_metadata(page=page) }}
{% if page.ancestors[1] %}
{{ macros::part_of_series(series=get_section(path=page.ancestors[1])) }}
{% endif %}
{{ page.content | safe }}

<div id="previous-next">
{% if page.earlier %}
<div id="previous-article">
    Previous post:<br>
    <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
</div>
{% endif %}

{% if page.later %}
<div id="next-article">
    Next post:<br>
    <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
</div>
{% endif %}

<div style="clear: both;"></div>
</div>

<script type="text/javascript">
    window.addEventListener('load', function() {
        for (const ref of document.getElementsByClassName('footnote-reference')) {
            const hash = ref.children[0].hash.substring(1);
            const refhash = 'ref:' + hash;
            ref.id = refhash;
        }

        for (const footnote of document.getElementsByClassName('footnote-definition')) {
            const hash = footnote.id;
            const refhash = 'ref:' + hash;
            const backlink = document.createElement('a');
            backlink.href = '#' + refhash;
            backlink.className = 'footnote-backlink';
            backlink.innerText = '↩';
            const paras = footnote.children;
            const lastPara = paras[paras.length - 1];
            lastPara.appendChild(backlink);
        }
    });
</script>

<script src="https://utteranc.es/client.js"
        repo="NieDzejkob/niedzejkob.p4.team"
        issue-term="pathname"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
{% endblock content %}
